html, body {
    width: 50%;
    height: 10%;
    padding: 0px;
    margin: 0px;
    background: white;
}
svg .seat {
    cursor: pointer;
    transition: all 800ms;
}

/* European parliament colors */
svg .seat.gue-ngl { fill: #990000 }
svg .seat.sd { fill: #F0001C }
svg .seat.greens-efa { fill: #32CD32 }
svg .seat.alde { fill: #FFD700 }
svg .seat.epp { fill: #3399FF }
svg .seat.ecr { fill: #0054A5 }
svg .seat.efdd { fill: #40E0D0 }
svg .seat.enf { fill: #000000 }
/* French parliament colors */
svg .seat.EXG { fill: #d30202; }
svg .seat.COM { fill: #990000; }
svg .seat.FI { fill: #ff1616; }
svg .seat.SOC { fill: #f76060; }
svg .seat.RDG { fill: #edafaf; }
svg .seat.DVG { fill: #c66b9a; }
svg .seat.ECO { fill: #41992f; }
svg .seat.DIV { fill: #d3913b; }
svg .seat.REG { fill: #54422b; }
svg .seat.REM { fill: #f2da37; }
svg .seat.MDM { fill: #ea681c; }
svg .seat.UDI { fill: #537bbc; }
svg .seat.LR { fill: #3c589e; }
svg .seat.DVD { fill: #132553; }
svg .seat.DLF { fill: #7928b7; }
svg .seat.FN { fill: #03174a; }
svg .seat.EXD { fill: #000a23; }
/* common */
svg .seat.vacant { fill: #FFFFFF }
svg .seat.no-party { fill: #909090; }